<h2>글 출력</h2>
<%= @interrior.title %><br>
<%= @interrior.content %><br>
<!--<% unless @interrior.instagram.nil? %>-->
    <%= image_tag(@interrior.instagram.url) %>
<!--<% end %>    -->
<%= @interrior.instagram %>
