<h1>Post#index</h1>
<form action="/post/create" method="POST">
  <input type="text" name="title" class="form-control"><br>
  <textarea name="content" class="form-control" rows="7" cols="15"></textarea><br>
  <label for="exampleInputFile">File input</label><br>
  <input type="file" name="file" ><br>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  
  
  <button type="submit">쉐어하기</button>
</form>